# Levantar el stack:
#   docker compose --env-file .env.docker up --build -d

# --- BASE DE DATOS POSTGRES ---
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=chapin_bank
POSTGRES_PORT=5436

# --- BASE DE DATOS MONGODB ---
MONGO_DB_NAME=cbk-debuggers
MONGODB_PORT=27017

# --- PUERTOS DE SERVICIOS ---
AUTH_SERVICE_PORT=5079
ACCOUNT_SERVICE_PORT=3010
PRODUCT_SERVICE_PORT=3015
CLIENT_ADMIN_PORT=5173
CLIENT_USER_METRO_PORT=8081
CLIENT_USER_EXPO_PORT=19000
CLIENT_USER_EXPO_DEVTOOLS_PORT=19001
CLIENT_USER_EXPO_INSPECTOR_PORT=19002

# --- JWT (deben coincidir en los 3 backends) ---
JWT_SECRET=change-me-min-256-bits
JWT_ISSUER=ChapinBank
JWT_AUDIENCE=ChapinBank

# --- URLS INTERNAS DOCKER ---
AUTH_SERVICE_URL=http://auth-service:5079
ACCOUNT_SERVICE_URL=http://account-service:3010
ACCOUNT_SERVICE_URL_BASE=http://account-service:3010/chapinbank/v1

# --- URLS PARA EL FRONTEND  ---
VITE_AUTH_URL=http://localhost:5079/api/v1
VITE_ACCOUNT_URL=http://localhost:3010/chapinbank/v1
VITE_PRODUCT_URL=http://localhost:3015/chapinbank/v1
FRONTEND_URL=http://localhost:5173

# --- URLS PARA CLIENT-USER ---
EXPO_PUBLIC_AUTH_URL=http://10.0.2.2:5079/api/v1
EXPO_PUBLIC_ACCOUNT_URL=http://10.0.2.2:3010/chapinbank/v1
EXPO_PUBLIC_PRODUCT_URL=http://10.0.2.2:3015/chapinbank/v1
EXPO_PACKAGER_HOSTNAME=10.0.2.2

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me

# --- SMTP ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=change-me@example.com
SMTP_PASS=change-me
SMTP_FROM_NAME=Chapin Bank

# --- SUPABASE ---
SUPABASE_HOST=change-me.pooler.supabase.com
SUPABASE_PORT=5432
SUPABASE_DATABASE=postgres
SUPABASE_USERNAME=change-me
SUPABASE_PASSWORD=change-me

NODE_TLS_REJECT_UNAUTHORIZED=0