PORT=3010

URI_MONGODB=mongodb://localhost:27017/cbk-debuggers

JWT_SECRET=your_jwt_secret_here # Debe ser la misma que el AuthService y los demás servicios.
JWT_ISSUER=ChapinBank
JWT_AUDIENCE=ChapinBank
JWT_EXPIRES_IN=1h
ACCOUNT_SERVICE_URL=http://localhost:3010

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_smtp_app_password
SMTP_FROM_NAME=Chapin Bank
SMTP_FROM_EMAIL=your_email@gmail.com

AUTH_SERVICE_URL=http://localhost:5079
TRANSFER_CANCEL_WINDOW_MINUTES=30
DEPOSIT_REVERT_LIMIT_MS=60000

NODE_TLS_REJECT_UNAUTHORIZED=0